@import "import_styles";

.hero {
  transition: background-color 450ms ease, color 150ms ease;

  width: 100%;
  min-height: 90vh;
  margin-bottom: 10vh;
  padding-top: 9rem;
  padding-bottom: 1rem;

  background-color: $white-ter;

  text-align: left;

  @include mobile {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

:global(.dark-mode) .hero {
  background-color: $black-bis;
  color: $grey-lighter;
}

.position {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.75rem;

  @include tablet-only {
    margin-left: 16%;
    width: 66%;
  }

  @include desktop {
    margin-left: 33%;
    width: 41%;
  }
}

// Make this align at flex-end so DarkModeToggle is on the right.
.column {
  display: flex !important;
  flex-direction: column;
}

.title {
  transition: color 150ms ease;

  margin: $size-6 0;

  font-family: $font-title;
  font-size: $size-1;
  letter-spacing: -0.05rem;
  line-height: $size-title;
  font-weight: bold;

  color: $grey-dark;

  @include mobile {
    font-size: $size-3;
    line-height: $size-1;
  }
}

:global(.dark-mode) .title {
  color: $white-bis;
}

.attrs {
  @include text-style();

  font-weight: bold;
}

.linkDJI {
  @include link-style($dji, ($size-3 * 0.15));

  font-weight: bold;

  color: $dji;
}

.bold {
  font-weight: bold;
}

.text {
  @include text-style();

  & b {
    transition: color 150ms ease;
    color: $grey-dark;
  }
}

:global(.dark-mode) .text b {
  color: $white-bis;
}