@import "import_styles";

.aside {
  top: 3rem;
  left: 8rem;
  transform-origin: 50% 0;
  
  width: 12px;
  height: 100vh;
  padding-left: 4px;
  padding-right: 4px;
}

.bar {
  width: 4px;
  height: 100%;
  max-height: 600px;

  background-color: $grey-lighter;
  border-radius: 2px;
}

:global(.dark-mode) .bar {
  background-color: $grey-darker;
}

.progress {
  transform-origin: 0 0;

  height: 100%;

  background-color: $accent;
  border-radius: 2px;
}

:global(.dark-mode) .progress {
  background-color: lighten($accent, 30%);
}