.row {
  display: flex;
  align-items: center;
}

.spacingSmall {
  & > *:not(:first-child) {
    margin-left: 0.5rem;
  }

  & > *:not(:last-child) {
    margin-right: 0.5rem;
  }  
}

.spacingNormal {
  & > *:not(:first-child) {
    margin-left: 1rem;
  }

  & > *:not(:last-child) {
    margin-right: 1rem;
  }  
}