@import "import_styles";

.card {
  position: relative;
  transition: all 450ms ease;

  min-height: 260px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;

  background-color: $white-ter;
  border: 1px solid $white;
  border-radius: 0.5rem;

  color: $black-bis;

  @include text-style();

  &.hasLinks {
    padding-bottom: 4rem;
  }

  @include tablet {
    &.hasLogo {
      $imageSize: 3rem;
  
      padding-right: calc(4rem + #{$imageSize});
    }
  }

  ul {
    margin: 0.25rem;
  }
}

:global(.dark-mode) .card {
  background-color: $black-bis;
  border-color: $black-ter;
  color: $grey-light;

  @include shadow-8dp();
}

.duration {
  color: $grey;
  font-size: $size-7;
  font-weight: bold;
  text-transform: uppercase;
}

.noDuration {
  padding-top: $size-7;
}

.title {
  font-size: $size-5;
  font-family: $font-title;
  line-height: $size-4;

  &.hasBackground {
    padding-left: 0.325rem;
    color: $white-ter !important;
  }
}

:global(.dark-mode) .title {
  color: $white-bis;
}

.location {
  color: $grey;
  font-size: $size-6;
  line-height: $size-6;

  // Override emoji size.
  & :global img {
    width: $size-6 !important;
    height: $size-6 !important;
  }
}

.divider {
  height: 0.5rem;
}

.links {
  position: absolute;
  bottom: 0.75rem;

  padding: 0.25rem;
}

.logo {
  $imageSize: 3rem;

  position: absolute;
  top: 1rem;
  right: 1.5rem;

  width: calc(2 * 1rem + #{$imageSize});
  height: calc(2 * 1rem + #{$imageSize});
  padding: 1rem;

  border-radius: 50%;

  @include mobile {
    display: none;
  }
}