@import "import_styles";

.icon {
  transition: transform 150ms ease-in, color 150ms ease, opacity 200ms ease-in;
  position: relative;

  width: $size-4;
  height: $size-4;

  font-size: $size-4;
  font-weight: normal;
  color: $accent;

  opacity: 0.8;

  &:hover {
    transform: scale(1.05);
    opacity: 1;
    cursor: pointer;
  }
}

:global(.dark-mode) .icon {
  color: lighten($accent, 30%);
}