@import "import_styles";

@import "bulma/sass/grid/columns.sass";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  text-rendering: optimizeLegibility;
}

.layout--columns {
  min-height: 100vh;
}

.two-cards {
  display: flex;
  flex-direction: row;
  align-content: stretch;

  & > div {
    flex: 1;
  }

  & > div:first-child {
    margin-right: 2rem;
  }

  @include mobile {
    flex-direction: column;

    & > div:first-child {
      padding-right: 0 !important;
    }
  }
}

// strange issue with Bulma
.columns {
  width: 100%;
}
