@import "import_styles";

// Export colors so we can use them in cards.
:export {
  dji: $dji;
  wolfram: $wolfram;
  dglogik: $dglogik;
}

.columns {
  min-height: 100vh;
}

.twoCards {
  display: flex;
  flex-direction: row;
  align-content: stretch;

  & > div {
    flex: 1;
  }

  & > div:first-child {
    margin-right: 2rem;
  }

  @include mobile {
    flex-direction: column;

    & > div:first-child {
      padding-right: 0 !important;
    }
  }
}
