@import "import_styles";

// Export colors so we can use them in cards.
:export {
  dji: $dji;
  wolfram: $wolfram;
  dglogik: $dglogik;
}

.columns {
  min-height: 100vh;
}

.twoCards {
  display: flex;
  flex-direction: row;
  align-content: stretch;

  & > div {
    flex: 1;
  }

  @include mobile {
    flex-direction: column;
  }

  @include tablet {
    & > div:first-child {
      margin-right: 2rem;
    }
  }
}

.hint {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-top: calc((280px - 1.5 * 5 * #{$size-5}) / 2);
  margin-bottom: 2.5rem;

  font-size: $size-6;

  & a {
    color: $accent;
    text-decoration-color: $accent;
  }
}

:global(.dark-mode) .hint a {
  $color: lighten($accent, 30%);

  color: $color;
  text-decoration-color: $color;
}