@import "import_styles";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  pointer-events: none;

  height: 8rem;
  padding-left: 17%;
  padding-right: 17%;

  background-color: transparent;

  @include mobile {
    position: absolute;

    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.title {
  transition: color 150ms ease;
  cursor: pointer;

  font-size: $size-6;
  font-weight: bold;
  font-family: $font-title;
  color: $grey-dark;
}

.nav {
  transition: all 450ms ease;

  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  pointer-events: auto;

  padding: 0.625rem 1.5rem;

  background-color: $white;
  border: 1px solid $white;
  border-radius: 0.5rem;

  @include shadow-4dp();

  @include touch {
    // TODO
    display: none;
  }
}

:global(.dark-mode) .nav {
  background-color: $black-bis;
  border-color: $black-ter;
  color: $grey-light;

  @include shadow-6dp();
}

:global(.dark-mode) .title {
  color: $grey-dark;
}

.expanded {
  flex: 1;
}

