@import "import_styles";

$borderRadius: 0.5rem;

.imageCard {
  position: relative;

  margin: 1rem 0;
  margin-right: 3rem;
}

.inner {
  transition: all 200ms ease;

  border-radius: $borderRadius;

  @include shadow-6dp();

  & picture,
  & img {
    border-radius: $borderRadius;
  }

  &:hover {
    @include shadow-8dp();
  }
}