@import "import_styles";

$borderRadius: 0.5rem;

.imageCard {
  position: relative;

  flex: 1.11111 !important;
  margin: 1rem 0;

  @include mobile {
    display: none;
  }
}

.inner {
  transition: all 200ms ease;

  border-radius: $borderRadius;

  @include shadow-6dp();

  & picture,
  & img {
    border-radius: $borderRadius;
  }

  &:hover {
    @include shadow-8dp();
  }
}