@import "import_styles";

.footer {
  transition: background-color 450ms ease, color 150ms ease;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  padding: 3rem 1.5rem 4rem;

  text-align: center;

  background-color: $white-ter;
  color: $grey-dark;
}

:global(.dark-mode) .footer {
  background-color: $black-bis;
  color: $grey-lighter;
}

.text {
  @include text-style();
}